---

---


<div class="w-full h-[80px]">
    <div class="navbar w-full h-full px-12">
        <div class="navbar-start">
            <div class="breadcrumbs">
                <ul class="space-x-4 capitalize text-white">
                    <a href="/register" class="hover:opacity-90">register</a>
                    <a href="/login" class="hover:opacity-90">login</a>
                </ul>
            </div>
        </div>
    </div>
</div>